<app-header></app-header>
<div class="container">

  <section class="login-area pat-100 pab-100">
    <div class="container custom-container-one">
      <div class="login-wrapper">
        <div class="login-wrapper-contents login-shadow">
          <h2 class="single-title"> Reset Password </h2>
          <form class="login-wrapper-form custom-form" action="#">

            <div class="single-input mt-3">
              <label class="label-title mb-3"> New Password </label>
              <input class="form--control" type="password" placeholder="New Password">
            </div>
            <div class="single-input mt-3">
              <label class="label-title mb-3"> Confirm Password</label>
              <input class="form--control" type="cf-password" placeholder="Confirm Password">
            </div>
            <button class="submit-btn w-100 mt-4" type="submit"> Submit Now </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>

