<div class="dashboard-reservation">
  <div class="single-reservation bg-white base-padding">
    <h3 class="single-reservation-title"> Change Password </h3>
    <div class="custom--form dashboard-form">
      <form action="#">
        <div class="dashboard-input mt-4">
          <label class="label-title"> Current Password </label>
          <input type="password" class="form--control" placeholder="Current Password">
          <div class="toggle-password"> <span class="eye-icon"> </span> </div>
        </div>
        <div class="dashboard-input mt-4">
          <label class="label-title"> New Password </label>
          <input type="password" class="form--control" placeholder="New Password">
          <div class="toggle-password"> <span class="eye-icon"> </span> </div>
        </div>
        <div class="dashboard-input mt-4">
          <label class="label-title"> Confirm Password </label>
          <input type="password" class="form--control" placeholder="Confirm Password">
          <div class="toggle-password"> <span class="eye-icon"> </span> </div>
        </div>
        <div class="dashboard-checkbox-wrapper">
          <div class="dashboard-checkbox check-success mt-3">
            <input class="check-input" type="checkbox" id="character" checked>
            <label class="checkbox-label" for="character"> Password must be minimum 8
              characters </label>
          </div>
          <div class="dashboard-checkbox check-success mt-3">
            <input class="check-input" type="checkbox" id="special">
            <label class="checkbox-label" for="special"> Must contain at least one
              special character </label>
          </div>
          <div class="dashboard-checkbox check-success mt-3">
            <input class="check-input" type="checkbox" id="numaric">
            <label class="checkbox-label" for="numaric"> Must contain at least one
              numeric value </label>
          </div>
        </div>
        <div class="btn-wrapper mt-4">
          <a href="javscript:void(0)" class="cmn-btn btn-bg-1"> Save Changes </a>
        </div>
      </form>
    </div>
  </div>
</div>
