<app-header></app-header>
<div class="container">

  <section class="login-area pat-200 pab-100">
    <div class="container custom-form">
      <div class="login-wrapper">
        <div class="login-wrapper-contents login-shadow login-padding">
          <h2 class="single-title"> Confirm Here! </h2>
          <form class="login-wrapper-form custom-form" action="#">
            <div class="single-input mt-4">
              <label class="label-title mb-3"> Email Or Number </label>
              <input class="form--control" type="text" placeholder="Email Or Number">
            </div>
            <button class="submit-btn w-100 mt-4" type="submit"> Submit Now </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
